/* *{
    color: pink;
    background-color: sienna;
} */

body {
    background-color: rgb(127, 233, 199);
}

button {
    font-size: 20x;
    background-color: rgba(53, 20, 220, 0.445);
}

h1,
h2 {
    color: rgb(178, 148, 14);
}

h1{
    color:aliceblue;
}

#singup {
    background-color: aqua;
    color: red;
}

span {
    color: azure;
}

.tag {
    color: blueviolet;
    background-color: rgb(38, 154, 216);
    font-size: 16px;
}

.post a {
    color: rgb(0, 255, 115);
    text-decoration: none;
}

footer a {
    color: chocolate;
}

#Puppies{
    color: blue;
}

input + button{

    background-color: pink;
}

h2 + button{
    font-size: 10px;
    background-color: red;
}

footer > nav > a{
    color: aqua;
}

input[type="password"]{
    color: rgb(125, 177, 22);
}

main utton:hover{
    background-color: rgb(18, 175, 214);
}

.post a:hover{
    text-decoration: underline;
}

.post button:active{

    background-color:aquamarine;
}

.post:nth-last-of-type(2n){
    background-color: steelblue;
}

h2::first-letter{
    font-size: 50px;
    color: yellowgreen;
}

p::first-line{
    color:aliceblue;
}

p::selection{
    background-color:rgb(87, 87, 2)
}

button{
    background-color: rgb(203, 180, 52) !important;
}