h2{
    color: #b33a3a;
    background-color: #9e1cc97e;
}

button{
    color: #b33a3a;
    background-color: rgb(229, 220, 237);
}

p{
    color: rgb(168, 181, 181);
    background: #b33a3a;
}

body{

background-color: #000;
}